---
import { getCollection } from "astro:content";
import BlogCard from "../../components/BlogCard";
import ColorfulTitle from "../../components/ColorfulTitle";
import MainWrapper from "../../layouts/MainWrapper.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<MainWrapper>
  <article class="grid gap-4">
    <ColorfulTitle title="Blogs" />
    <ul class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              <BlogCard
                image={post.data.heroImage!}
                title={post.data.title}
                date={post.data.pubDate}
              />
            </a>
          </li>
        ))
      }
    </ul>
  </article>
</MainWrapper>
