---
import BasicImage from "../components/BasicImage";
import DescriptionCard from "../components/DescriptionCard";
import { ABOUT_ME } from "../consts";

import MainWrapper from "../layouts/MainWrapper.astro";
---

<MainWrapper>
  <div class="grid gap-4 sm:grid-cols-2">
    <div>
      <DescriptionCard title="About">{ABOUT_ME}</DescriptionCard>
    </div>
    <BasicImage
      className="max-h-[600px]"
      src="/images/about.jpg"
      alt="about me image"
    />
  </div>
</MainWrapper>
