---
import BasicImage from "../components/BasicImage";
import ColorfulTitle from "../components/ColorfulTitle";
import Button from "../components/DefaultButton";
import DescriptionCard from "../components/DescriptionCard";
import { ABOUT_BLOGS, ABOUT_SKILLS, CV_PATH, SOCIAL_LINKS } from "../consts";
import MainWrapper from "../layouts/MainWrapper.astro";
---

<MainWrapper>
  <article class="grid gap-16">
    <!-- Section Hero -->
    <div class="mx-auto w-fit text-center my-20">
      <p class="text-lg p-0 m-0">Hello, I'm</p>
      <ColorfulTitle size="lg" title="Saramsha Shrestha" />
      <p class="text-lg p-0 m-0 mt-2 font-semibold">Full Stack Developer</p>
    </div>
    <!-- Section Skills -->
    <div
      class="mx-auto md:pr-8 grid md:grid-cols-2 gap-6 items-center min-h-[100%]"
    >
      <DescriptionCard title="Profile">
        <p>
          {ABOUT_SKILLS}
        </p>
        <div class="flex gap-4 mt-4">
          <a href={CV_PATH}>
            <Button>Download My Resume</Button>
          </a>
          <a href={SOCIAL_LINKS.linkedIn}>
            <button class="btn">Visit My Linked In</button>
          </a>
        </div>
      </DescriptionCard>
      <BasicImage
        className="max-h-[300px] relative md:-top-8"
        src="/images/work.jpg"
        alt="people working"
      />
    </div>

    <!-- Section Blogs -->
    <div
      class="mx-auto md:pb-24 md:pl-8 grid md:grid-cols-2 gap-6 items-center min-h-[100%]"
    >
      <BasicImage
        className="max-h-[300px] relative md:-bottom-16"
        src="/images/blog-2.jpg"
        alt="people working"
      />

      <DescriptionCard title="Blogs">
        <p>
          {ABOUT_BLOGS}
        </p>
        <div class="flex gap-4 mt-4">
          <a href="/blog">
            <Button>See Blogs</Button>
          </a>
        </div>
      </DescriptionCard>
    </div>
  </article>
</MainWrapper>
