---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    @apply text-base md:text-lg px-4 pt-2 py-1 text-gray-600 hover:text-gray-800;
  }
  a.active {
    @apply text-base md:text-lg font-semibold text-gray-800 border-b-2 border-gray-800;
  }
</style>
