---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

    <!-- HTML Meta Tags -->
    <title>Saramsha Shrestha</title>
    <meta name="description" content="Welcome to my personal website!" />

    <!-- Facebook Meta Tags -->
    <meta
      property="og:url"
      content="https://luxury-melomakarona-cbe6b3.netlify.app"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Saramsha Shrestha" />
    <meta property="og:description" content="Welcome to my personal website!" />
    <meta
      property="og:image"
      content="https://luxury-melomakarona-cbe6b3.netlify.app/OG.png"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:domain"
      content="luxury-melomakarona-cbe6b3.netlify.app"
    />
    <meta
      property="twitter:url"
      content="https://luxury-melomakarona-cbe6b3.netlify.app"
    />
    <meta name="twitter:title" content="Saramsha Shrestha" />
    <meta
      name="twitter:description"
      content="Welcome to my personal website!"
    />
    <meta
      name="twitter:image"
      content="https://luxury-melomakarona-cbe6b3.netlify.app/OG.png"
    />
  </head>
  <body class="bg-white">
    <Header />
    <main class="min-h-[90vh] h-full w-full">
      <slot />
    </main>
    <Footer />
  </body>
</html>
